* {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

.menu{
    width: auto;

}

  h1 {
    color: white;
  }

  div{
    background: rgb(0, 255, 191);
    width: 100%;
    clear: both;
    content: "";
    display: table;

  }



  nav ul li{
    list-style: none;
    margin-left: 100px;
    float: left;
    padding: 12px 0;
  }

  nav ul li a{
    text-decoration: none;
    color: red;
  }